{% extends 'base.html.twig' %}

{% block title %}Edit Arrendatario{% endblock %}

{% block body %}
    <h1>Edit Arrendatario</h1>

    {{ include('arrendatario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_arrendatario_index') }}">back to list</a>

    {{ include('arrendatario/_delete_form.html.twig') }}
{% endblock %}
