{% extends 'base.html.twig' %}

{% block title %}New Arrendatario{% endblock %}

{% block body %}
    <h1>Create new Arrendatario</h1>

    {{ include('arrendatario/_form.html.twig') }}

    <a href="{{ path('app_arrendatario_index') }}">back to list</a>
{% endblock %}
